@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Madrid, Spain<br />
    Calle Falsa 1234<br />
    <abbr title="Teléfono">P:</abbr>
    +34 123 45 67
</address>

<address>
    <strong>Contacto:</strong>   <a href="mailto:jpradillogonzalez@gmail.com">jpradillogonzalez@gmail.com</a><br />
</address>